/*styling for cold weather */
.appCold {
  background-image: url(./img/cold.jpg);
  background-size: auto;
  background-position: bottom;
  transition: 0.6s ease-in-out;
}

/* removing all margin an padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

main {
  min-height: 100vh;
  padding: 30px;
  background-image: opacity(0.5);
}

/*styling for warm weather */
.appWarm {
  background-image: url(./img/warm.jpg);

  background-position: bottom;
  transition: 0.6s ease-in-out;
}

/*styling for search box */
.search-box {
  width: 100%;
  margin: 0 0 75 px;
}

/*styling for search bar */
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: blanchedalmond;
  margin-top: -25px;
  font-family: "Rubik Wet Paint", cursive;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  border-radius: 25px;
}

/*styling for location box, location name */
.location-box .location {
  text-align: center;
  font-size: 35px;
  font-weight: 650;
}

/*styling for location box, date section */
.location-box .date {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

/*styling for weather box */
.weather-box {
  text-align: center;
}

/*styling for weather box, temperature section */
.weather-box .temp {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 35px auto;
  border-radius: 20px;
  background-color: bisque;

  padding: 15px 25px;

  font-weight: 950;
  font-size: 110px;
}

/*styling for weather box, weather section */
.weather-box .weather {
  font-weight: 750;
  font-size: 50px;
}
